*{
    overflow: auto; /*permet d'adapter le conteneur au contenu pour tous les éléments, en l'occurence ici la colonne 2 paramétrée en float*/
}
body{
    background-color: #8BA1BB;
    font-family: Arial;
    margin: 0;
}
div.contenu{
    background-color: white;
    margin: 40px 8px 40px 8px; /*HAUT DROITE BAS GAUCHE*/
    padding: 0px 8px 20px 8px;
    /*min-width: 350px;*/ /*on ne veut pas de largeur mini pour la version tablette/mobile*/
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 12px;
}
p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}
.centre{ /*demarré par un "." permet d'appliquer un style à plusieurs éléments */
    text-align: center;
    width: 100%;
}
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
p.categorie{
    background-color: black;
    color:white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}
div.separateur{
    background-color: black;
    width: 100px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    /*mettre en margin left et right sur auto va permettre de centrer l'élément*/
}
table.info{
    position: absolute; /*permet de manipuler un objet par rapport à un autre en l'occurence ici, l'objet table par rapport à l'image*/
    bottom: 0; 
    width: 100%;
    color: white; 
    background-color: #6C829DC0; /*les 2 derniers caractères hexa derrière le code couleur permettent de gérer l'opacité : C0 souvant utilisé (FF = 100% opaque et 00 100% transparent et 80 valeur intermédiaire)*/
    height: 50px;
}
img.info{
    display: block;/*display block permet de dire à l'image de prendre 100% du bloc, et donc éviter les effets de liserets non désirés*/
    max-height: 400px; /* on définit une hauteur maxi afin de ne pas avoir une image trop grande lorsqu'on agrandit la fenêtre*/
    object-fit: cover; /*évite une déformation de l'image lorque l'on change les dimensions de la fenêtre, permet de zoomer au lieu de déformer*/
    min-height: 200px; /*lorsque l'image se charge via l'url, on définit une taille mini afin de respecter une mise en forme*/
    background-color: lightgray; /*on applique un fond durant le chargement de l'image*/
}
table.info td{
    text-align: center;
    font-size: 12px;
    /*on ne modifie que les éléments td de la table*/
    vertical-align: top;
}
table.info th{
    text-align: center; /*facultatif car par défaut les headers sont centrés dans la table*/
    font-size: 14px;
    /*on ne modifie que les éléments th de la table*/
    vertical-align: bottom;
    padding-bottom: 8px;
}
div.info{
    position: relative;
}
div.colonne{
    width: 100%; /*chaque colonne prendra ainsi 45% de la largeur*/
    margin-top: 20px;
}
div.colonne1{   
    display: inline-block;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
}
div.ingredients p{
    border: 1px solid lightgray;
    text-align: center;
    font-size: 14px;
    font-style: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
table.preparation p.numero{
    background-color: #6C829D;
    color: white;
    width: 25px;
    height : 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box; /*permet de ne pas cumuler l'effet de padding de 4px + la hauteur de 25px*/
    border-radius: 50%;
    margin: 0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.prepa_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr{
    height: 40px;
}

@media only screen and (min-width: 768px) {
    /* Version pour ordinateur */
    div.contenu{
        min-width: 350px; 
        margin: 60px 10% 80px 10%; /*HAUT DROITE BAS GAUCHE*/
        padding:0px 30px 30px 30px;
    }
    table.info{
        height: 80px;
    }
    table.info td{
        font-size: 14px;
    }
    table.info th{
        font-size: 16px;
    }
    div.colonne{
        width: 45%; /*chaque colonne prendra ainsi 45% de la largeur*/
    }
    div.colonne1{   
        margin-right: 10%; 
    }
    div.colonne2{
        float: right; /*float right = affichage à droite*/
    }
  }

  @media only screen and (min-width: 900px) {
      /*cas des écrans trops grands*/
      div.contenu{
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }

  }